body {
  background-image: url(../../public/home_background.jpeg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: 100% 100%;
  display: grid;
  grid-template-rows: 8vh 92vh auto;
}

main {
  background: linear-gradient(black, rgb(7, 7, 7, 0.2), black);
}

.m-container {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  height: 100%;
  margin: 0 20px;
}

.m2-container {
  max-width: 31.75rem;
  display: flex;
  flex-direction: column;
}

.main-text {
  text-align: center;
}

.main-text h1 {
  font-family: bebasNeue;
  letter-spacing: 0.1rem;
  font-size: 2.5rem;
}

.email-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.email-container .f-form {
  flex-grow: 1;
}

.email-container a {
  flex-grow: 0;
}

input {
  font-size: 1rem;
  background: #fff;
  -webkit-box-shadow: none;
  box-shadow: none;
  color: #64686b;
}

.f-form {
  border: none;
  outline: none;
  padding-left: 1rem;
  margin: 0;
  border-radius: 5px 0 0 5px;
}

a#button {
  padding: 1rem 1.25rem;
  background: #c9192e;
  color: white;
  cursor: pointer;
  transition: background 0.3s ease-in-out;
  border-radius: 0 5px 5px 0;
}