body {
  grid-template-rows: 8vh 1fr auto;
}

main {
  background: linear-gradient(black, #111010, #1f1f1f, #111010, black);
}

.pla_margin-container {
  margin: 0 auto;
  width: min-content;
}

.pla_flex-container {
  display: grid;
  grid-template-columns: repeat(4, min-content);
  gap: 50px;
}

.pla_card {
  min-width: 288px;
  max-width: 288px;
  border: 0.03rem solid rgba(255, 255, 255, 0.2);
  border-radius: 5px 5px;
  display: flex;
  flex-direction: column;
}

.pla_card-img {
  min-height: 335px;
  max-height: 335px;
  border-bottom: 0.03rem solid rgba(255, 255, 255, 0.2);
  display: flex;
  align-items: center;
  justify-content: center;
}

.pla_card-img img {
  height: 334px;
  width: 287px;
  transition: transform 0.6s ease;
  transition-delay: 0s;
  border-radius: 5px 5px;
}

.pla_card-img img:hover {
  transform: scale(1.15);
}

.pla_card-body {
  padding: 12px;
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.pla_card-body p {
  color: rgba(255, 255, 255, 0.67);
}

.pla_card-body-name {
  margin-bottom: 15px;
}

.pla_card-body-text {
  margin-bottom: 10px;
}

.pla_card-body-name > h2,
p {
  margin: 0;
}

.pla_card-body-text > h5,
p {
  margin: 0;
}

@media (max-width: 1441px) {
  .pla_flex-container {
    grid-template-columns: repeat(3, min-content);
  }
}

@media (max-width: 1025px) {
  .pla_flex-container {
    grid-template-columns: repeat(2, min-content);
  }
}

@media (max-width: 769px) {
  .pla_flex-container {
    grid-template-columns: min-content;
  }
}
