@import url("css/header.css");
@import url("css/footer.css");

@font-face {
  font-family: bebasNeue;
  src: url(./fonts/BebasNeue-Regular.ttf);
}

body {
  margin: 0;
  padding: 0;
  height: 100vh;
  box-sizing: border-box;
  display: grid;
  grid-template-rows: 8vh 92vh auto;
  color: white;
  font-family: Arial, Helvetica, sans-serif;
}
