@import url("css/header.css");
@import url("css/footer.css");

@font-face {
  font-family: bebasNeue;
  src: url(./fonts/BebasNeue-Regular.ttf);
}

body {
  margin: 0;
  padding: 0;
  height: 100%;
  box-sizing: border-box;
  color: white;
  font-family: Arial, Helvetica, sans-serif;
}